#Database
DB_URL=postgres://user:password@postgres:port/database_name

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name


#App
APP_VERSION=version_number

NODE_ENV=enviorement
PORT=port_number

JWT_SECRET=secret

TELEGRAM_TOKEN=botToken
API_URL=http://URL
HEALTH_URL=http://URL
API_TOKEN=Token